{% load bootstrap4 %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% translate "Task manager" %}{% endblock %}</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task manager" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">{% translate "Users" %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Statuses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Tags" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Tasks" %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% translate "Log Out" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Log In" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">{% translate "Sign Up" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="mt-auto">
        <div class="container border-top py-3">
            <p><a href="https://github.com/justpwned">{% translate "Source code" %}</a></p>
        </div>
    </footer>
</body>
</html>
